<main>
    <form>
        <p>EE4F67875522537CAF940E5BDA96AF2C</p>
        <input type="text" placeholder="EncryptedUid" ng-model="encryptedUid" ng-change="onChangeEvantHandler()" required>
        <p>SpF1bwKBaAWuEWbkxX</p>
        <input type="text" placeholder="api Key" ng-model="apiKey" ng-change="onChangeEvantHandler()" required>
        <p>d39sjQb4coXGnQ2yg43SGUWIIQ7NQ6eglrWj</p>
        <input type="text" placeholder="api Secret" ng-model="apiSecret" ng-change="onChangeEvantHandler()" required>
        <label for="pourcentage">Pourcentage :</label><input type="number" min="0" max="100" id="pourcentage" ng-model="pourcentage" ng-change="updateDisplayScope()" required><p>%</p>
        <button ng-click="eventHandlerClickVerifyInformations()">{{verifyInformationsButtonText}}</button>
        <button ng-click="clearFields()">Clear</button>
        <input type="submit" ng-click="addTrader()" value="{{addTraderButtonValue}}">
    </form>
</main>