<main>
    <section id="countSection">
        <p>Count : <span id="countField">{{proxyCount.result.proxyCount}}</span></p>
        <p>Pourcentage : <span id="pourcentageField">{{removePourcentage}}</span></p>
    </section>
    <section id="removeSection">
        <h4>Remove</h4>
        <button ng-click="removeButtonClickEventHandler()">{{removeButtonText}}</button>
        <a href="#!/socketInformation/remove">View informations</a>
    </section>
    <section id="addSection">
        <h4>Add</h4>
        <button ng-click="addButtonClickEventHandler()">{{addButtonText}}</button>
        <a href="#!/socketInformation/add">View informations</a>
    </section>
</main>